body {
  color:darkcyan;
}

.container {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: 95px 95px 95px 95px 95px;
  /* grid-template-areas: */
  border: 5px;
  border-color: black;
  background-color: burlywood;
}

.mainImageContainer {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  border: 5px;
  border-color: black;
  background-color: yellow;
  overflow: hidden;
  object-fit: cover;
}

.thumnailContainer {
  display: grid;
  /* grid-column-start: 1;
  grid-row-start: 1; */
  background-color: greenyellow;
  overflow: hidden;
  object-fit: contain;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/* keeping these css styles for future set up */
/*
.container > .thumnailContainer_1 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  border: 5px solid blue;
  color:darkgreen;
  background-color: greenyellow;
  overflow: hidden;
  object-fit: cover;
}

.container > .thumnailContainer_2 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 2;
  border: 5px;
  border-color: rgb(0, 0, 0);
}

.container > .thumnailContainer_3 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 3;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
}

.thumnailContainer_4 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 4;
  border: 5px;
  border-color: black;
}

.thumnailContainer_5 {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 5;
  border: 5px;
  border-color: black;
} */



